#navigation{
    display: flex;
    justify-content: right;
    gap: 5%;
    border: 2px solid black;
    padding: 1% 5% 1% 0px;
    margin-bottom: 2%;
}
#navigation a{
    color: black;
    text-decoration: none;
    font-size: 18px;
  
}
#aaa{
    display: flex;
   
    margin: auto;
}